<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="form-container">
        <h1><%= title %></h1>
    <form method="POST" action="/new">
        <div>
            <label for="messageUser"> Your name: </label>
            <input type="text" id="messageUser" name="messageUser" required>
        </div>
        <div>
            <label for="messageText"> Message: </label>
            <input type="text" id="messageText" name="messageText" required>
        </div>
        <button type="submit"> Send </button>
    </form>
    </div>
    
</body>
</html>